 <div class="profilebody">
        <div class="wrapper">
            <div class="formContent" *ngIf="loggedIn()">
            <br><br>
              <form [formGroup] = "logForm" (ngSubmit)="onSubmitLog()">
                  <input type="password" id="password" class="fadeIn third" name="password" placeholder="current password" formControlName = "password">
                  <input type="password" id="npassword" class="fadeIn third" name="npassword" placeholder="new password" formControlName = "npassword">
                  <input type="password" id="cpassword" class="fadeIn third" name="cpassword" placeholder="confirm password" formControlName = "cpassword">
                  <input type="submit" class="fadeIn fourth" value="change Password">
                 </form>
            </div>
        </div>
</div>      
<!--<div class="middles">
        <p class="c31">20+ events</p>
        <p class="c41">4+ workshops</p>
        <p class="c51">internships</p>
      </div>-->
<app-loader [enabled]="enabled"></app-loader>