.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:8000000;
    background-color: white;
    opacity: 0.5;
    overflow: hidden;
    vertical-align: center;
    text-align: center;
}
.spinner-grow {
    margin-top: 20%;
    width: 5em;
    height: 5em;
}


@media screen and (max-width : 480px) {

    .spinner-grow {
        margin-top: 60%;
    }
}

.no-loader {
    visibility: collapse;
    display: none;
}