@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");

* {
    box-sizing:border-box;
  }
  
/*@media (max-width: 767px) {
    right .text-right { text-align:center }
}*/
h2{
 font-weight: bold;
}
h1{
  font-weight: bold;
  font-size:60px;
}
.AboutBody {
    position: fixed;
    padding: 0; 
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #4CAF50;
   }
   
  
  .Complete{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .title{
    text-align:center;
    color:#fff;
    background-color: #4CAF50; 
    padding-top:50px;
    font-weight:bold;
  }
  .white_c{
    background-color:#f1f8e9;
    color: black;
  }
  .green_c{
    background-color: #81c784;
    color:#013220;
  }
  .right_align{
    text-align:right;
  }
  .image-circle{
    border-radius: 150%;
  }
  .image_green{
    background-color: #4CAF50; 
    widows: 200px;
    height: 350px;
  }
  /*.container-fluid {
    
  }*/
  .row{
    padding: 30px;
    margin:5%;
  }
  /*.row:after {
    content: "";
    display: table;
    clear: both
  }*/
  
  /*.column-66 {
    float: left;
    width: 61.66666%;
    padding: 20px;
  }

  .column-66 p {
    vertical-align: center;
  }
  
  .column-33 {
    float: left;
    width: 28.33333%;
    padding: 20px;
  }*/
  
  /*.large-font {
    font-size: 48px;
  }
  
  .xlarge-font {
    font-size: 64px
  }*/
  
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  @media screen and (max-width: 1000px) {
    img {
      margin: auto;
    }
    .image_green{
      height:200px;
      width:200px;
    }
    h2{
      text-align:center;
    }
    /*.container{
      padding:3%;
    }*/
  }
  