<div class="AboutBody">
<div class="Complete">
  <div class="title">
    <h1>ABOUT US</h1>
  </div>
 
 <!-- The App Section -->
  <div class="container-fluid">
   <div class="row white_c">
      <div class="col-sm-8">
        <h2>ABACUS</h2><br/>
        <p align="justify">ABACUS is the annual intercollege symposium of the Department of 
          Computer Science and Engineering conducted by Computer Science and 
          Engineering Association (CSEA ), College of Engineering Guindy. It is an 
          event where people from multiple colleges demonstrate their technical 
          prowess to win exciting prizes and internships.</p>
      </div>
      <div class="col-sm-4">
          <img [src]="myVar1"  class="image-circle image_green"  width="335" height="471">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row green_c">
      <div class="col-sm-4">
        <img [src]="myVar2"  class="image-circle" alt="App" width="335" height="471">
      </div>
      <div class="col-sm-8">
        <h2 align="right">CSEA</h2><br/>
        <p align="justify">The Computer Science and Engineering Association, CEG is a team of 
          students and faculty members. We perform multiple activities 
          throughout the year, the most notable ones being SYNC (intra college 
          symposium), periodic coding contests to encourage students to code 
          more and weekly classes for juniors for subjects they find difficult, 
          placement assistance and competitive coding. CSEA is a forum of 
          dedicated members who want to inculcate interest and good 
          programming practices amongst the students.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row white_c">
      <div class="col-sm-8">
        <h2>CEG</h2><br/>
        <p align="justify">Located at the Heart of Chennai, is our very own College of Engineering Guindy, 
          a dream and desire that students all across Tamil Nadu aspire to touch. Founded in 1794, CEG holds 
          laurels of being amongst the top ten institutions in the country, with a rich history spanning over 225 years. 
          Living up to its motto of "PROGRESS THROUGH KNOWLEDGE", it has been at the fore with it’s cutting-edge research, 
          technology and innovation in shaping the world. True to its esteem, even today CEG stands as a beacon of light to 
          students who wish to make a change in the world.</p>
      </div>
      <div class="col-sm-4">
        
          <img [src]="myVar3"  class="image-circle image_green" width="335" height="471" >
          
      </div>
    </div>
    </div>
   <!-- <app-description></app-description>-->
</div>
</div>
  
