* {box-sizing: border-box}

#button1{
  top:50%;
  left:50%;
  position:absolute;
}
/*#icon{
  width:20px;
  height:20px;
}*/
.regdiv{
    text-align: center;
  }
  
  .register{
    background-color: #4527a0;
    padding: 10px;
    color: white;
    border: solid 3px  #4527a0;
    border-radius: 5px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }
  
  
.close-icon{
  position:fixed;
  right:2%;
  top:2%;
  color:black;
  background-color:white;
  border-radius:50%;
  width:50px;
  height:50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  line-height:50px;
  cursor:pointer;
  text-align:center;
  font-size:30px;
  display: none;
}
/* Set height of body and the document to 100% */
.Complete-desc-bodyh{
   height:0%;
   width:0%;
   position:absolute;
   background-color:white;
   z-index:20000;
   left:50%;
   top:50%;
}
/*.show{
    height:100%;
    width:100%;
    position:fixed;
    background-color:white;
    z-index:20000;
}*/
.Description-body{
  height: 100%;
  margin:0%;
  width:100%;
  overflow-y:auto;
  overflow-x:hidden;
}
.title-content{
  background-color:#4527a0;
  height:30%;
  color:white;
  text-align:center;
  padding-top:1%;
}
.title_image{
  height:30%;
  width:15%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top:-7.5%;
  position:relative;
  border: 5px solid white;
  border-radius: 50%;
}
/* Style tab links */
.tablink {
  background-color: #fff;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.33%;
  border-bottom: 2px solid silver;
}
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  padding: 100px 20px;
  height: 100%;
  display:none;
}
.link-active{
  border-bottom: 5px solid #800de8;
}
.content-active{
  display:block;
}
@media screen and (max-width: 70em) {
  .title-content{
    padding:2%;
  }  
  .title_image{
    margin-top:-20%;
    width:40%;
    height:25%;
  }  
}
/*@media screen and (max-width: 420px){
  .title_text{
    font-size:30px;
  }
}*/

