<div class="Complete-desc-bodyh">

<div class="Description-body">
        <div class="close-icon"><i class="fa fa-close" id="icon" href="/"></i></div>
        <div class="title-content">
          <br/>
          <br/>
          <br/>
          <h1 class="title_text">{{events_name}}
          </h1>
        </div>
        <!--<img [src]="image_name" class="title_image">-->
        <div class="tab-desc">
          <button class="tablink link-active" id="link-desch">About</button>
          <button class="tablink" id="link-rulesh">Rules</button>
          <button class="tablink" id="link-contacth">Contact</button>
          <div id="descriptionh" class="tabcontent content-active" style="text-align: center">
                <p>An opportunity to</p> 
                <h1>Build the Future....</h1>
                <p>from</p>
                <img src="../../assets/images/events/chronus.png">
              <br>
                  <br>
                  <p>
                Who doesn't all like an overnight hackathon? Here comes the flagship event of Abacus'20 made especially for the insomniac developers. Be there on March 6th with your machines to code all night and win prizes worth <b>&#8377; 25000</b>. With all these and t-shirts for all participants, what more could you ask for? Just hit the register button.
                </p>
                  <b>Date: March 6th</b><br>
                  <b>Time: 8 PM to 8 AM</b><br>
                  <b>Venue: CSE Department, CEG</b> 
              </div>
              <div id="rulesh" class="tabcontent">
            <h3>Rules</h3>
            <ul><li>A domain will be given on the day of hackathon</li>
              <li>The teams should develop a software in the same domain.</li>
              <li>A team must consist of 2 members</li>
              <li>The team members need not necessarily be from the same institution/college</li>
              <li>Participants can not be a member of more than a team</li>
              <li>Teams involved in any kind of malpractice will be disqualified immediately</li>
              <li>The decision of the judges will be final</li></ul>
          </div>
          <div id="contacth" class="tabcontent">
            <h3>Contact</h3>
              <ul>
              <li><b>Cibi Chakravarthy :</b> +91 94862 93823</li>
              <li><b>Padmapriya K C :</b> +91 96292 43952</li>
            </ul>
          </div>
        </div>
        <div class="regdiv"><button class="register" (click)="hackreg()">Register</button></div>
      </div>
       </div>