<div class="Eventsbody">
<div class="wrapper">
  <div class="item-bg"></div>
  <div class="background"></div>
  <div class="news-slider">
    <div class="news-slider__wrp swiper-wrapper">
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[0].date}}</span>
            <span class="news-date__txt">{{events_list[0].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[0].name}}
          </div>
          <img src="{{events_list[6].image}}" class="event_sponsor1">
          <br>
          <!--<p class="news__txt">
            {{events_list[0].short_desc}}
            <a class="know_more know" id="e0">Know More</a>
          </p>-->

         <!-- <button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="v0">
              <h1 class="image">{{ events_list[0].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">6</span>
            <span class="news-date__txt">Mar</span>
          </div>
          <div class="news__title">
            Hackathon
          </div>
          <img src="../../assets/images/events/chronus.png" class="event_sponsor2"><!--style="margin-left: 30%;"-->
         <!-- <button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img hack">
              <h1 class="image">H</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[12].date}}</span>
            <span class="news-date__txt">{{events_list[12].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[12].name}}
          </div>

         <!-- <p class="news__txt">
            {{events_list[12].short_desc}}
            <a class="know_more know" id="e2">Know More</a>
          </p>
        -->
        <img src="{{events_list[12].image}}">
        <br>
        <br>
          <!--<button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="v12">
              <h1 class="image">{{ events_list[12].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[1].date}}</span>
            <span class="news-date__txt">{{events_list[1].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[1].name}}
          </div>
          <img src="{{events_list[12].image}}"><br><br>
          <!--<p class="news__txt">
            {{events_list[1].short_desc}}
            <a class="know_more know" id="e1" >Know More</a>
          </p>-->

          <!--<button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="v1">
            <!-- <img src={{events_list[1].image}} alt="news" class="image"/> -->
            <!-- <i class="fa fa-brain" style="color: white"></i> -->
            <h1 class="image">{{ events_list[1].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>

      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[2].date}}</span>
            <span class="news-date__txt">{{events_list[2].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[2].name}}
          </div>

          <p class="news__txt">
            {{events_list[2].short_desc}}
            <a class="know_more know" id="e2">Know More</a>
          </p>

          <!--<button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="v2">
              <h1 class="image">{{ events_list[2].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[3].date}}</span>
            <span class="news-date__txt">{{events_list[3].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[3].name}}
          </div>
        <!--<img src="{{events_list[3].image}}" class="event_sponsor">-->
         <p class="news__txt">
            {{events_list[3].short_desc}}
            <a class="know_more know" id="e3">Know More</a>
          </p>

          <!--<button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="v3">
              <h1 class="image">{{ events_list[3].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[4].date}}</span>
            <span class="news-date__txt">{{events_list[4].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[4].name}}
          </div>
          <img src="{{events_list[4].image}}" class="event_sponsor">
          <!--<p class="news__txt">
            {{events_list[4].short_desc}}
            <a class="know_more know" id="e4">Know More</a>
          </p>-->

          <!--<button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="v4">
              <h1 class="image">{{ events_list[4].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[5].date}}</span>
            <span class="news-date__txt">{{events_list[5].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[5].name}}
          </div>

          <!--<img src="{{events_list[5].image}}">-->
          <img src="{{events_list[5].image}}" class="event_sponsor1">
          <!--<p class="news__txt">
            {{events_list[5].short_desc}}
            <a class="know_more know" id="e5">Know More</a>
          </p>-->
          <br>
          <!--<button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="v5">
              <h1 class="image">{{ events_list[5].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[6].date}}</span>
            <span class="news-date__txt">{{events_list[6].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[6].name}}
          </div>

          <img src="{{events_list[6].image}}" class="event_sponsor1">
          <!--<p class="news__txt">
            {{events_list[6].short_desc}}
            <a class="know_more know" id="e6">Know More</a>
          </p>-->
          <br>
         <!-- <button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="v6">
              <h1 class="image">{{ events_list[6].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[7].date}}</span>
            <span class="news-date__txt">{{events_list[7].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[7].name}}
          </div>
          <img src="{{events_list[7].image}}" class="event_sponsor">
          <!--<p class="news__txt">
            {{events_list[7].short_desc}}
            <a class="know_more know" id="e7">Know More</a>
          </p>-->

         <!-- <button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="v7">
              <h1 class="image">{{ events_list[7].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[8].date}}</span>
            <span class="news-date__txt">{{events_list[8].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[8].name}}
          </div>
          <!--<img src="{{events_list[8].image}}" class="event_sponsor">-->
          <p class="news__txt">
            {{events_list[8].short_desc}}
            <a class="know_more know" id="e8">Know More</a>
          </p>

         <!-- <button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="v8">
              <h1 class="image">{{ events_list[8].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[9].date}}</span>
            <span class="news-date__txt">{{events_list[9].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[9].name}}
          </div>
         <img src="{{events_list[9].image}}" class="event_sponsor">
         <!-- <p class="news__txt">
            {{events_list[9].short_desc}}
            <a class="know_more know" id="e9">Know More</a>
          </p>-->

         <!-- <button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="v9">
            <!--<img src={{events_list[9].image}} alt="news" class="image"/> -->
            <h1 class="image">{{ events_list[9].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[10].date}}</span>
            <span class="news-date__txt">{{events_list[10].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[10].name}}
          </div>
          <img src="{{events_list[10].image}}" class="event_sponsor">
          <!--<p class="news__txt">
            {{events_list[10].short_desc}}
            <a class="know_more know" id="eA">Know More</a>
          </p>-->

         <!-- <button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="vA">
              <h1 class="image">{{ events_list[10].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news-date">
            <span class="news-date__title">{{events_list[11].date}}</span>
            <span class="news-date__txt">{{events_list[11].month}}</span>
          </div>
          <div class="news__title">
            {{events_list[11].name}}
          </div>

          <p class="news__txt">
            {{events_list[11].short_desc}}
            <a class="know_more know" id="eB">Know More</a>
          </p>

         <!-- <button (click)="showMore()" class="know_More">Know More</button>-->
          <div class="news__img know" id="vB">
              <h1 class="image">{{ events_list[11].name[0] }}</h1>
            <div class="middle">
              <div class="text">Know more</div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="news-slider__ctr">

      <div class="news-slider__arrows">
        <button class="news-slider__arrow news-slider-prev">
          <span class="icon-font">
            <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
          </span>
        </button>
        <button class="news-slider__arrow news-slider-next">
          <span class="icon-font">
            <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
          </span>
        </button>
      </div>

      <div class="news-slider__pagination"></div>

    </div>
  </div>
</div>

<svg hidden="hidden">
  <defs>
    <symbol id="icon-arrow-left" viewBox="0 0 32 32">
      <title>arrow-left</title>
      <path d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"></path>
    </symbol>
    <symbol id="icon-arrow-right" viewBox="0 0 32 32">
      <title>arrow-right</title>
      <path d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"></path>
    </symbol>
  </defs>
</svg>
</div>
<app-description></app-description>
<app-hack></app-hack>