<div class="sponsorBody">
  <div class="section-header">
    <h2>Sponsors</h2>
  </div>
  <!-- Title Sponsor -->
  <div id="supporters" class="section-with-bg shadow-lg p-3 mb-5 bg-blue rounded">
  
      <div class="container">
        <div class="section-header">
          <h2>Title Sponsor</h2>
        </div>
        
        <div class="supporter-wrap single col-lg-3 col-md-4 col-xs-6 p-3 mb-5 bg-blue rounded clearfix">
          <div class="supporter-logo">
              <img [src]="title.src" id="{{title.id}}" class="img-fluid" alt="">
            </div>
         </div>
        </div>
      </div>
  
    <!-- Associate sponsor -->
    <!-- <div id="supporters" class="section-with-bg shadow-lg p-3 mb-5 bg-blue rounded">
  
      <div class="container">
        <div class="section-header">
          <h2>Associate Sponsor</h2>
        </div>
  
        <div class="row no-gutters supporters-wrap shadow-lg p-3 mb-5 bg-blue rounded clearfix">
  
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img [src]="myVar1" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img [src]="myVar2" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img [src]="myVar3" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img [src]="myVar4" class="img-fluid" alt="">
            </div>
          </div>
          </div>
        </div>
       </div>
   
    Tshirt sponsor -->
    <div id="supporters" class="section-with-bg shadow-lg p-3 mb-5 bg-blue rounded">
  
      <div class="container">
        <div class="section-header">
          <h2>Associate Sponsor</h2>
        </div>
        
       <div class="supporters-wrap single col-lg-3 col-md-4 col-xs-6 p-3 mb-5 bg-blue rounded clearfix">
          <div class="supporter-logo">
              <img [src]="tshirt.src" id="{{tshirt.id}}" class="img-fluid" alt="">
            </div>
         </div>
        </div>
      </div>

      <div id="supporters" class="section-with-bg shadow-lg p-3 mb-5 bg-blue rounded">
  
        <div class="container">
          <div class="section-header">
            <h2>Hackathon Sponsor</h2>
          </div>
          
         <div class="supporters-wrap single col-lg-3 col-md-4 col-xs-6 p-3 mb-5 bg-blue rounded clearfix">
            <div class="supporter-logo">
                <img [src]="hackathon.src" id="{{hackathon.id}}" class="img-fluid" alt="">
              </div>
           </div>
          </div>
        </div>
        <div id="supporters" class="section-with-bg shadow-lg p-3 mb-5 bg-blue rounded">
  
          <div class="container">
            <div class="section-header">
              <h2>Placement Partner</h2>
            </div>
            
           <div class="supporters-wrap single col-lg-3 col-md-4 col-xs-6 p-3 mb-5 bg-blue rounded clearfix">
              <div class="supporter-logo">
                  <img [src]="placement.src" id="{{placement.id}}" class="img-fluid" alt="">
                </div>
             </div>
            </div>
          </div>
    <!-- Event Sponsor -->
    <div id="supporters" class="section-with-bg shadow-lg p-3 mb-5 bg-blue rounded">
  
      <div class="container">
        <div class="section-header">
          <h2>Event Sponsors</h2>
        </div>
  
        <div class="row no-gutters supporters-wrap p-3 mb-5 bg-blue rounded clearfix">
  
          <div class="col-sm-4" *ngFor="let company of events">
            <div class="supporter-logo">
              <img [src]="company.src" id="{{company.id}}" class="img-fluid" alt="">
            </div>
          </div>
          <!-- <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img [src]="myVar2" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img [src]="myVar3" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img [src]="myVar4" class="img-fluid" alt="">
            </div>
          </div>-->
          </div> 
        </div>
      </div>
      <div id="supporters" class="section-with-bg shadow-lg p-3 mb-5 bg-blue rounded">
  
        <div class="container">
          <div class="section-header">
            <h2>Workshop Partners</h2>
          </div>
    
          <div class="row no-gutters supporters-wrap p-3 mb-5 bg-blue rounded clearfix">
    
            <div class="col-sm-3" *ngFor="let company of workshops">
              <div class="supporter-logo">
                <img [src]="company.src" id="{{company.id}}" class="img-fluid" alt="">
              </div>
            </div>
            <!-- <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img [src]="myVar2" class="img-fluid" alt="">
              </div>
            </div>
          
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img [src]="myVar3" class="img-fluid" alt="">
              </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img [src]="myVar4" class="img-fluid" alt="">
              </div>
            </div>-->
            </div> 
          </div>
        </div>
</div>
