.sponsorBody{
    overflow-x:hidden;
    overflow-y:scroll;
    width:100%;
    height:100%;
    margin:0;
    position:fixed;
    background-color: #64b5f6;
    padding-top:5%;
}
/* For Single Sponsor*/
.single{
  margin:0 auto;
}
/* Sponsor Body */
.sponsor-body{
  position:fixed;
  height:100%;
  width:100%;
  background-color: #64b5f6;
  overflow-y: auto;
  overflow-x: hidden;
} 
.section-header h2{
  color:#00004d;
} 
/* Section header */
.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
  }
  
  .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #00004d;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  
  .section-with-bg {
     background-color: #f6f7fd;
    margin:5%;
    /*padding-right:100px;
    padding-left:100px;*/

    
  }
/* Supporters */
#supporters {
    padding: 60px 0;
  }
  
  #supporters .supporters-wrap {
    /* border-top: 10px solid #64b5f6;
    border-left: 10px solid #e0e5fa;
    border-right: 10px solid #e0e5fa;
    border-bottom: 10px solid #64b5f6; */
    margin-bottom: 30px;
    
    
  }
  
  #supporters .supporter-logo {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* border-top: 20px solid #64b5f6;
    border-left: 20px solid #e0e5fa;
    border-right: 20px solid #e0e5fa;
    border-bottom: 20px solid #64b5f6; */
    overflow: hidden;
    /* background: rgba(255, 255, 255, 0.5); */
    height: 160px;
  }
  
  #supporters .supporter-logo:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  #supporters img {
    transition: all 0.4s ease-in-out;
  }

  #title {
    width: auto;
    height: auto;
  }

  #tshirt {
    width: auto;
    height: auto;
  }
@media screen and (min-width : 480px) {
  #amazon {
    width: 50%;
    height: 50%;
  }
}

  #accolite {
    width: auto;
    height: auto;
  }