<div class="profilebody">
    <div class="wrapper">
        <div class="formContent" *ngIf="loggedIn()">
        <br><br>
        <h5>Enter the user code fo your friends. If your friend gets 10 referrals, he gets one workshop free. If none leave it as  blank.</h5>
          <form [formGroup] = "logForm" (ngSubmit)="onSubmitLog()">
              <input type="text" id="referralCode" class="fadeIn third" name="referralCode" placeholder="ReferralCode" formControlName = "referralCode">
              <input type="submit" class="fadeIn fourth" value="Register"> 
            </form>
        </div>
        <div class="formContent" *ngIf="!loggedIn()">
            <h5>
                You should be logged in to enter this page.
                <button routerLink="/login">Login</button>
            </h5>
        </div>
    </div>
</div>      
<!--<div class="middles">
    <p class="c31">20+ events</p>
    <p class="c41">4+ workshops</p>
    <p class="c51">internships</p>
  </div>-->
<app-loader [enabled]="enabled"></app-loader>