<div class="profilebody">
        <div class="wrapper">
            <div class="formContent">
            <br><br>
              <form [formGroup] = "logForm" (ngSubmit)="onSubmitLog()">
                  <input type="email" id="email" class="fadeIn third" name="email" placeholder="email" formControlName = "email">
                  <input type="submit" class="fadeIn fourth" value="Send link">
                 </form>
            </div>
        </div>
</div>      
<app-loader [enabled]="enabled"></app-loader>