<div class="message" *ngIf="messageService.messages.length">
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let message of messageService.messages">
    <strong [innerHTML]="message"></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click) = "messageService.clear">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>