<div class="demo-1">
    <div class="content">
    <div class="menu-trigger">
        <div class="hamburger" id="mobilec">
            <div class="line" id="line1"></div>
            <div class="line" id="line2"></div>
            <div class="line" id="line3"></div>
            <!-- <i id="mobilec" class="fa fa-bars fa-3x white"></i> -->
        </div>
    </div>
    <nav class="grim">
        <div class="grim__item">
            <div class="grim__item-bg grim__item-bg--1">
            </div>
        </div>
        <div class="grim__item">
            <div class="grim__item-bg grim__item-bg--2"></div>
        </div>
        <div class="grim__item">
            <div class="grim__item-bg grim__item-bg--3"></div>
            <div class="grim__item-content">
                <div class="grim__item-inner">
                    <button class="menu-triggerc menu-trigger--close">close</button>
                </div>
            </div>
        </div>
        <div class="grim__item">
            <div class="grim__item-bg grim__item-bg--4"></div>
            <div class="grim__item-content" id="mobile">
                <div class="grim__item-inner">
                    <button class="menu-triggerc">close</button>
                </div>
            </div>
        </div>
        <div class="grim__item">
            <div class="grim__item-bg grim__item-bg--5"></div>
            <a routerLink="/" class="grim__link grim__item-content">
                <div class="grim__item-inner">
                    <h3 class="grim__item-title">Home</h3>
                </div>
            </a>
        </div>
        <div class="grim__item">
            <div class="grim__item-bg grim__item-bg--6"></div>
            <a routerLink="/non-tech" class="grim__link grim__item-content">
                <div class="grim__item-inner">
                    <h3 class="grim__item-title">Non-tech Events</h3>
               </div>
            </a>
        </div>
        <div class="grim__item">
            <div class="grim__item-bg grim__item-bg--7"></div>
            <a routerLink="/login" class="grim__link grim__item-content">
                <div class="grim__item-inner">
                    <h3 class="grim__item-title" *ngIf="loggedIn()">Profile</h3>
                    <h3 class="grim__item-title" *ngIf="!loggedIn()">Login</h3>
                    <span class="grim__item-desc">Payments, Accomodation and more</span>
                </div>
            </a>
        </div>
        <div class="grim__item">
            <div class="grim__item-bg grim__item-bg--8"></div>
            <a routerLink="/sponsors" class="grim__link grim__item-content">
                <div class="grim__item-inner">
                    <h3 class="grim__item-title">Sponsors</h3>
                </div>
            </a>
        </div>
        <div class="grim__item">
            <div class="grim__item-bg grim__item-bg--9"></div>
            <a routerLink="/events" class="grim__link grim__item-content">
                <div class="grim__item-inner">
                    <h3 class="grim__item-title">Tech Events</h3>
                </div>
            </a>
        </div>
        <div class="grim__item">
            <div class="grim__item-bg grim__item-bg--10" data-duration="1000" data-easing="easeOutQuint"></div>
            <a routerLink="/workshops" class="grim__link grim__item-content">
                <div class="grim__item-inner">
                    <h3 class="grim__item-title">Workshops</h3>
                </div>
            </a>
        </div>
    </nav>
</div>
