@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

.demo-1 {
	font-family: 'Josefin Sans', sans-serif;
    --color-bg: #101010;
    --color-link: #f8d05d;
    --color-link-hover: #949494;
	--color-info: #f0f0f0;
}

.white {
	/* color: #0f0f0f; */
	color: white;	
	padding-bottom: 2%; 
	padding-top: 2%;
}

.hamburger {
	margin: 35%;
	background-color: white;
	display: inline-block;
	border-radius: 90px;
  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 20% 22%;

}
.line {
	width: 35px;
  	height: 5px;
  	background-color: grey;
	margin: 6px 0;
	border-radius: 30px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
}


.menu-trigger {
		display: inline-block;
		background: none;
		border: 0;
		z-index: 100000;
		grid-area: menu;
		justify-self: start;
		align-self: end;
		cursor: pointer;
		pointer-events: auto;
		font-family: inherit;
		color: inherit;
		position: fixed;
		top: 0;
		left: 0;
		padding: 0;
		white-space: nowrap;
	}

#mobilec {
	z-index: 1000000 !important;
}

	.menu-triggerc {
		background: none;
		border: 0;
		justify-self: start;
		align-self: end;
		cursor: pointer;
		pointer-events: auto;
		font-family: inherit;
		color: inherit;
		/*position: fixed;
		padding: 0;
		white-space: nowrap;*/
	}

	.menu-trigger--close {
		align-self: center;
	}

	.menu-trigger h1 {
		color: black;
	}
	.grim {
		display: grid;
		z-index: 1000000;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		grid-template-columns: repeat(32,3.125vw);
		grid-template-rows: repeat(32,3.125vh);
		pointer-events: none;
	}

	.grim--open {
		pointer-events: auto;
	}

	.grim__item {
		position: relative;
		overflow: hidden;
		display: flex;
		z-index: 10000000;
		justify-content: center;
		align-items: center;
	}

	.grim__item:first-child {
		grid-area: 1 / 1 / 2 / 3;
	}

	.grim__item:nth-child(2) {
		grid-area: 2 / 1 / 3 / 3;
	}

	.grim__item:nth-child(3) {
		grid-area: 1 / 3 / 3 / 5;
	}

	.grim__item:nth-child(4) {
		grid-area: 3 / 1 / 5 / 5;
	}

	.grim__item:nth-child(5) {
		grid-area: 1 / 5 / 5 / 9;
	}

	.grim__item:nth-child(6) {
		grid-area: 5 / 1 / 9 / 9;
	}

	.grim__item:nth-child(7) {
		grid-area: 1 / 9 / 9 / 17;
	}

	.grim__item:nth-child(8) {
		grid-area: 9 / 1 / 17 / 17;
	}

	.grim__item:nth-child(9) {
		grid-area: 1 / 17 / 17 / 33;
	}

	.grim__item:nth-child(10) {
		grid-area: 17 / 1 / 33 / 33;
	}

	.grim__item-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: scale3d(0,0,1);
		opacity: 0;
		box-shadow: 0 0 0 2px currentColor;
		background: currentColor;
	}

	.grim__item-bg--1 { color: #F8D05D; }
	.grim__item-bg--2 { color: #da3b35; }
	.grim__item-bg--3 { color: #4600f2; }
	.grim__item-bg--4 { color: #302d29; }
	.grim__item-bg--5 { color: #f8d15b; }
	.grim__item-bg--6 { color: #b0bec5; }
	.grim__item-bg--7 { color: #ffa000; }
	.grim__item-bg--8 { color: #64b5f6; }
	.grim__item-bg--9 { color: #4527a0; }
	.grim__item-bg--10 { color: #ef5350; }

	.grim__item-content {
		position: relative;
		color: #fff;
		transition: color 0.3s;
		overflow: hidden;
	}

	.grim__item:nth-child(3) .grim__item-content {
		visibility: hidden;
	}

	.grim__item:nth-child(4) .grim__item-content {
		visibility: visible; 
	}

	.grim__item-content:hover,
	.grim__item-content:focus {
		opacity: 0.8;
		color: inherit;
		transition: opacity 0.3s;
	}

	.grim__item-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		opacity: 0;
	}

	.grim__item-title {
		font-weight: normal;
		margin: 0;
		font-size: 1.0rem;
	}

	.grim__item:nth-child(5) .grim__item-title {
		font-size: 1rem;
	}

	.grim__item:nth-child(6) .grim__item-title {
		font-size: 1.2rem;
	}

	
	.grim__item:nth-child(8) .grim__item-title {
		font-size: 2.45rem;
	}

	.grim__item:nth-child(9) .grim__item-title {
		font-size: 2.65rem;
	}

	.grim__item:nth-child(10) .grim__item-title {
		font-size: 3.85rem;
	}

	.grim__item-desc {
		font-size: 0.75rem;
		margin: 0.5rem 0 0 0;
	}

	.grim__item-desc::after {
		position: relative;
		display: block;
		font-size: 0.75rem;
	}

	article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}
	
	
	a {
		text-decoration: none;
		color: var(--color-link);
		outline: none;
	}
	
	a:hover,
	a:focus {
		color: var(--color-link-hover);
		outline: none;
	}
	
	button:focus {
		outline: none;
	}
	
	
	.content {
		height: 100%;
		min-height: 0;
		width: auto;
		position: fixed;
	}

	.message {
		display: none;
		position: relative;
		z-index: 100;
		padding: 1em;
		text-align: center;
		color: var(--color-bg);
		background: var(--color-text);
	}
	
	main {
		position: relative;
		width: 100%;
	}
	
	
		.message {
			display: none;
		}
			

@media screen and (min-width: 55em) {


	.grim__item:nth-child(4) .grim__item-content {
		visibility: hidden;
	}

	.grim__item:nth-child(3) .grim__item-content {
		visibility: visible;
	}	

	
	.menu-trigger {
		display: inline-block;
		background: none;
		border: 0;
		z-index: 10000;
		grid-area: menu;
		justify-self: start;
		align-self: end;
		cursor: pointer;
		pointer-events: auto;
		font-family: inherit;
		color: inherit;
		position: fixed;
		top: 0;
		left: 0;
		padding: 0;
		white-space: nowrap;
		
	}

	.menu-trigger--close {
		align-self: center;
	}
	
	.grim {
		display: grid;
		z-index: 10000000;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		grid-template-columns: repeat(32,3.125vw);
		grid-template-rows: repeat(32,3.125vh);
		pointer-events: none;
		margin-bottom: 0%;
	}

	.grim--open {
		pointer-events: auto;
	}

	.grim__item {
		position: relative;
		z-index: 1000000;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.grim__item:first-child {
		grid-area: 1 / 1 / 3 / 2;
	}

	.grim__item:nth-child(2) {
		grid-area: 1 / 2 / 3 / 3;
	}

	.grim__item:nth-child(3) {
		grid-area: 3 / 1 / 5 / 3;
	}

	.grim__item:nth-child(4) {
		grid-area: 1 / 3 / 5 / 5;
	}

	.grim__item:nth-child(5) {
		grid-area: 5 / 1 / 9 / 5;
	}

	.grim__item:nth-child(6) {
		grid-area: 1 / 5 / 9 / 9;
	}

	.grim__item:nth-child(7) {
		grid-area: 9 / 1 / 17 / 9;
	}

	.grim__item:nth-child(8) {
		grid-area: 1 / 9 / 17 / 17;
	}

	.grim__item:nth-child(9) {
		grid-area: 17 / 1 / 33 / 17;
	}

	.grim__item:nth-child(10) {
		grid-area: 1 / 17 / 33 / 33;
	}

	.grim__item-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: scale3d(0,0,1);
		opacity: 0;
		box-shadow: 0 0 0 2px currentColor;
		background: currentColor;
	}

	.grim__item-bg--1 { color: #F8D05D; }
	.grim__item-bg--2 { color: #da3b35; }
	.grim__item-bg--3 { color: #302d29; }
	.grim__item-bg--4 { color: #4600f2; }
	.grim__item-bg--5 { color: #f8d15b; }
	.grim__item-bg--6 { color: #b0bec5; }
	.grim__item-bg--7 { color: #ffa000; }
	.grim__item-bg--8 { color: #64b5f6; }
	.grim__item-bg--9 { color: #4527a0; }
	.grim__item-bg--10 { color: #ef5350; }

	.grim__item-content {
		position: relative;
		color: #fff;
		transition: color 0.3s;
		overflow: hidden;
	}

	.grim__item-content:hover,
	.grim__item-content:focus {
		opacity: 0.8;
		color: inherit;
		transition: opacity 0.3s;
	}

	.grim__item-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		opacity: 0;
	}

	.grim__item-title {
		font-weight: normal;
		margin: 0;
		font-size: 1.85rem;
		letter-spacing: 0.15rem;
	}

	.grim__item:nth-child(5) .grim__item-title {
		font-size: 1.5rem;
	}

	.grim__item:nth-child(6) .grim__item-title {
		font-size: 2rem;
	}

	.grim__item:nth-child(7) .grim__item-title {
		font-size: 2.25rem;
	}

	.grim__item:nth-child(8) .grim__item-title {
		font-size: 2.45rem;
	}

	.grim__item:nth-child(9) .grim__item-title {
		font-size: 2.65rem;
	}

	.grim__item:nth-child(10) .grim__item-title {
		font-size: 3.85rem;
	}

	.grim__item-desc {
		font-size: 0.85rem;
		margin: 0.5rem 0 0 0;
	}

	.grim__item-desc::after {
		position: relative;
		display: block;
		font-size: 1.75rem;
	}
	/*.content {
		top : 2%;
	}
*/
}


