<!--<button id="button1">close</button>-->
<div class="Complete-desc-body">
  
        <div class="Description-body">
          <div class="close-icon"><i class="fa fa-close" id="icon"></i></div>
          <div class="title-content">
            <h1 class="title_text">{{events_name}}
            </h1>
          </div>
          <div class="tab-desc">
            <button class="tablink link-active" id="link-desc">About</button>
            <button class="tablink" id="link-contact">Contact</button>
            <div id="description" class="tabcontent content-active">
              <!--<h3>About</h3>-->
              <p [innerHTML]="events_desc"></p>
            </div>
            <div id="contact" class="tabcontent">
              <h3>Contact</h3>
              <p [innerHTML] ="events_contact"></p>
            </div>
          </div>
          <div class="regdiv"><a href="{{reglink}}"><button class="register">Register</button></a></div>
        </div>
      </div>
      