<div class="Complete-desc-body">

    <div class="Description-body">
      <div class="close-icon"><i class="fa fa-close" id="icon"></i></div>
      <div class="title-content">
        <br/>
        <br/>
        <h1 class="title_text">{{events_name}}
        </h1>
      </div>
      <!--<img [src]="image_name" class="title_image">-->
      <div class="tab-desc">
        <button class="tablink link-active" id="link-desc">About</button>
        <button class="tablink" id="link-rules">Rules</button>
        <button class="tablink" id="link-contact">Contact</button>
        <div id="description" class="tabcontent content-active">
          <h3>About</h3>
          <p [innerHTML]="events_desc"></p>
        </div>
        <div id="rules" class="tabcontent">
          <h3>Rules</h3>
          <p [innerHTML]="events_rules"></p> 
        </div>
        <div id="contact" class="tabcontent">
          <h3>Contact</h3>
          <p [innerHTML]="events_contact"></p>
        </div>
      </div>
    </div>
</div>