<div class="profilebody">
  <div class="wrapper">
      <div class="formContent" *ngIf="!loggedIn()">
        <!-- Tabs Titles -->
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="underlineHover nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item">
              <a class="underlineHover nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
            </li>
          </ul>
        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fa fa-user-circle fa-3x yellow" aria-hidden="true"></i>
          </div>
      
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">

        <!-- Login Form -->
        <form [formGroup] = "logForm" (ngSubmit)="onSubmitLog()">
            <input type="email" id="login" class="fadeIn second" name="login" placeholder="email" formControlName = "email">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" formControlName = "password">
            <input type="submit" class="fadeIn fourth" value="Log In">
           </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" routerLink="/forPass">Forgot Password?</a>
          </div>
      
            </div>
            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab" >
              <!-- Register Form -->
              <form [formGroup] = "regForm" (ngSubmit)="onSubmitReg()">
              <input type="text" id="name" class="fadeIn second" name="name" placeholder="Name" formControlName = "name" required>  
          <select id="year" class="fadeIn second selected" name="year" placeholder="Year" formControlName = "year" required>
              <option value="" disabled selected hidden>Year</option>
            <option *ngFor="let year of years" value={{year}}>{{year}}</option>
          </select>
          <select id="department" class="fadeIn second selected" name="department" placeholder="Department" formControlName = "department" required>
            <option value="" disabled selected hidden>Department</option>
            <option *ngFor="let department of departments" value={{department}}>{{department}}</option>
          </select>
          <select type="text" id="college" class="fadeIn second" name="college" placeholder="College" formControlName = "college" required>
            <option value="" disabled selected hidden>College</option>
            <option *ngFor="let college of colleges" value={{college}}>{{college}}</option>
          </select>
          <input type="text" id="city" class="fadeIn second" name="city" placeholder="City" formControlName = "city" required>
          <input type="text" id="state" class="fadeIn second" name="state" placeholder="State" formControlName = "state" required>
          <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email" formControlName = "email" required> 
          <input type="phone" id="phone" class="fadeIn second" name="phone" placeholder="phone" formControlName = "phone" required>
          <input type="password" id="rpassword" class="fadeIn third" name="password" placeholder="password" formControlName = "password" required>
          <input type="password" id="cpassword" class="fadeIn third" name="cpassword" placeholder="Confirm password" formControlName = "cpassword" required>
          <input type="submit" class="fadeIn fourth" value="Register">
         </form>
    
      
            </div>
          </div>
       
      </div>
      <div class="profContent" *ngIf="loggedIn()">
        <div class="section">
        <h1>Hi, {{ user.name }}</h1>
        <h1>Your referral code is </h1>
        <h1 class="important">{{ user.code }}</h1>
        <br><h5 class="fadeIn second">share this referral code to your friends. When 10 people use your referral code to register for a workshop, you will get one workshop free</h5>
          <h5>You have made {{ user.referrals }} referral(s)</h5>
      </div>

        <div class="section" *ngIf="!user.registered">
          <h1>Event Registration</h1>
          <h5>Get your ticket for participating in events at abacus now!</h5>
          <div style="text-align: center">
          <button class="fadeIn fourth" (click)="eventreg()">Buy now</button>
          </div>
        </div>
      <div class="section">
        <h1>Your Payments</h1>
        <div class="table-responsive" style="width: 100%">
            <div class="table table-striped" *ngIf="!user.payments || user.payments.length">
                <tr>
                    <th>Date</th>
                    <th>Purpose</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let payment of user.payments">
                    <td>{{payment.date}}</td>
                    <td>{{payment.purpose}}</td>
                    <td>{{payment.amount}}</td>
                </tr>
              </div>
        </div>
        <h5 class="fadeIn third" *ngIf="user == undefined">You have made no payments</h5>
        </div>
        <div class="section">
        <h1>Accomodations</h1><br>
        <h5>Accomodation will be provided separately for boys and girls in college hostels. The fees for accomodation will be &#8377; 220 per head for one day. Click below to register</h5>
        <div style="text-align: center">
          <button class="fadeIn fourth" (click)="accomod()">Register</button>
          </div>
        <h5>Contact:<br>Cibi Chakravarthy - 9486293823</h5>
        </div>
        <div class="section" style="text-align: center">
        <button class="fadeIn fourth" routerLink="/changepass">Change Password</button>
        <button class="fadeIn fourth" (click)= "logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
  <app-loader [enabled]="enabled"></app-loader>
