/* You can add global styles to this file, and also import other style files */
/*.main-body
{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
}*/
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
