@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.Homebody {
    position: fixed;
    padding: 0; 
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #000;
    color:white;
   }
.container {
    
    width:100%;
    height:100%;
}
.image {
    margin: auto;
    padding: 10%;
    width:100%;
    height:100%;
}
.home-content{
    padding:5%;
    margin-top:30%;
}
p {
  border-right: solid 3px rgba(0,255,0,.75);
  border-right-color: transparent;
  width: 0;
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
}

/* .home-content p:nth-child(1) {
border-right: solid rgba(0,255,0,0.75);
font-size: 50px;
white-space: nowrap;
overflow: hidden;
color:white;
font-weight: bold;
}
.home-content p:nth-child(1) {
/* -webkit-animation: type 4s steps(29, end), blinkk 400ms steps(29,end) 20; 
animation: type 4s steps(29, end), blinkk 200ms steps(29,end) infinite;
}  
.home-content p:nth-child(2) {
border-right: .20em solid rgba(0,255,0,0.75);
margin-top: -5%;
font-family: "Source Code Pro";
font-size: 25px;
white-space: nowrap;
overflow: hidden;
color:white;
font-weight:bold;
}
.home-content p:nth-child(2) {
width:22.2em;
opacity: 0;
/* -webkit-animation: type 4s steps(37, end), blink 200ms steps(25,end) infinite alternate; 
animation: type 4s steps(37, end), blink 200ms steps(25,end) infinite alternate;
}  
.home-content p:nth-child(3) {
margin-top:5%;
border-right: .20em solid rgba(0,255,0,0.75);
font-family: "Source Code Pro";
font-size: 50px;
white-space: nowrap;
overflow: hidden;
color:white;
font-weight:bold;
}
.home-content p:nth-child(3) {
width:6.6em;
opacity: 0;
-webkit-animation: type1 6s steps(11, end) infinite, blink .5s steps(25,end) infinite alternate;
animation: type1 6s steps(11, end) infinite, blink .5s steps(25,end) infinite alternate;
} 
.home-content p:nth-child(5) {
margin-top:-3%;
border-right: .20em solid rgba(0,255,0,0.75);
font-family: "Source Code Pro";
font-size: 50px;
white-space: nowrap;
overflow: hidden;
color:white;
font-weight:bold;
}
.home-content p:nth-child(5) {
width:8.35em;
opacity: 0;
-webkit-animation: type3 6s steps(14, end) infinite, blinkk .5s steps(25,end) infinite alternate;
animation: type3 6s steps(14, end) infinite, blinkk .5s steps(25,end) infinite alternate;
}
.home-content p:nth-child(4) {
margin-top:-3%;
border-right: .20em solid rgba(0,255,0,0.75);
font-family: "Source Code Pro";
font-size: 50px;
white-space: nowrap;
overflow: hidden;
color:white;
font-weight:bold;
}
.home-content p:nth-child(4) {
width:7.2em;
opacity: 0;
-webkit-animation: type2 6s steps(12, end) infinite, blink .5s steps(25,end) infinite alternate;
animation: type2 6s steps(12, end) infinite, blink .5s steps(25,end) infinite alternate;
} */

.c1 {
  animation: animated-text-1 4s steps(29,end) 1s 1 normal both,
             animated-cursor 250ms steps(29,end) 16;
}
.c2 {
  font-size: 20px;
  animation: animated-text-2 6s steps(29,end) 4.8s 1 normal both,
             animated-cursor 400ms steps(29,end) 4.8s 12;
}
.c3 {
  position: fixed;
  animation: animated-text-3 16s steps(29,end) 14.4s infinite,
             animated-cursor 400ms steps(29,end) 14.4s infinite;
}
.c4 {
  position: fixed;
  animation: animated-text-4 16s steps(29,end) 14.4s infinite,
             animated-cursor 400ms steps(29,end) 14.4s infinite;
}
.c5 {
  position: fixed;
  animation: animated-text-5 16s steps(29,end) 14.4s infinite,
             animated-cursor 400ms steps(29,end) 14.4s infinite;
}

.c6 {
  font-size: 20px;
  animation: animated-text-6 6s steps(29,end) 9.6s 1 normal both,
             animated-cursor 400ms steps(29,end) 9.6s 10;
}
/* text animation */

@keyframes animated-text-1{
  0%{width: 0;}
  70%,100%{width: 11em;}
}

@keyframes animated-text-2{
  from{width: 0;}
  70%,100%{width: 22em;}
}

@keyframes animated-text-6{
  from{width: 0;}
  70%,100%{width: 10em;}
}

@keyframes animated-text-3{
  0%{width: 0;border-right-style: solid;}
  15.52%{width: 6em;}
  17.52%{width: 6em;}
  33.3%{width: 0; border-right-style: solid;}
  33.4%{width:0;border-right-style: none;}
  100%{width: 0;border-right-style: none;}
}

@keyframes animated-text-4{
  0%,33.3%{width: 0;border-right-style:none;}
  33.31%{
      width:0;border-right-style:solid;
  }
  48.82%{width: 7.5em;border-right-style: solid;}
  50.82%{width: 7.5em;border-right-style: solid;}
  66.6%{width: 0; border-right-style: solid;}
  66.7%,100%{width:0;border-right-style: none;}
}

@keyframes animated-text-5{
  0%,66.6%{width: 0;border-right-style:none;}
  66.61%{
      border-right-style:solid;
  }
  82.82%{width: 7em;}
  84.82%{width: 7em;}
  99.9%{width: 0; border-right-style: solid;}
  99.91%{border-right-style: none;}
  100%{width: 0;border-right-style: none;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

#contact-bar {
  margin-top: -5%;
}

@media screen and (max-width: 480px) {

  .Homebody {
    overflow-y: scroll;
  }
  .image {
    margin-top: 5%;
  }
  .home-content{
    margin-top:-5%;
    padding:5%;
  }
  .c1 {
    font-size: 20px;
    
  } 
  .c2 {
    font-size: 15px;
    display:none;
    
  } 
  .c3 {
    font-size: 20px;
    position: fixed;
    animation-delay: 9.6s;
  } 
  .c4 {
    font-size: 20px;
    position: fixed;
    animation-delay: 9.6s;
  } 
  .c5 {
    font-size: 20px;
    position: fixed;
    animation-delay: 9.6s;
  }     
  .c6 {
    font-size: 20px;
    animation-delay: 4.8s;
  }
  #contact-bar {
    margin-top: -12%;
  }
  
}
/* 
@keyframes type {
  0% {
  width: 0;
  }
  99% {
    border-right-color: rgba(0,255,0,0.75);
  }
  100% {
  width: 5em;
  border-right: none;
  }
  }
@keyframes type1 {
0% {
width: 0;
}
1% {
opacity: 1;
}
32.83%{
  width:100%;
  opacity:1;
}
33.83% {
opacity: 1;
border-right: none;
}
100%{
  opacity:1;
  border-right:none;
}
}
@keyframes type2 {
  0% {
  width: 0;
  border-right: none;
  }
  33.83%{
    width:0;
    border-right:none;
  }
  34.83% {
  opacity: 1;
  border-right: .20em solid white;
  }
  66.16%{
    width:100%;
    opacity:1;
  }
  67.16% {
  opacity: 1;
  border-right: none;
  }
  100%{
    opacity:1;
    border-right:none;
  }
  }
  @keyframes type3 {
    0% {
    width: 0;
    border-right:none;
    }
    66.66%{
      opacity:0;
      border-right:none;
    }
    67.16%{
      width:0;
      opacity:1;
      border-right: .20em solid white;
    }
    99.49% {
      width:100%;
      opacity: 1;
    }
    100% {
    opacity: 1;
    border-right: none;
    }
    }

@keyframes blinkk {
0%{
  border-right-color: rgba(0,255,0,0.75);
  
}
100% {
  border-color: transparent;
  
}
}
@-webkit-keyframes blinkk {
  0%{
    border-color: transparent;
    
  }
100% {
  border-right-color: rgba(0,255,0,0.75);
}
} */



.list-inline {
  text-align: center;
}
#contact-bar a {
  color: white;
  text-decoration: none;
}

#contact-bar ul li{
  padding-right:3%;
  font-size: 200%;
}

#contact-bar ul li:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.corner {
	position: absolute;
	top: 5px;
  right: 5px;	
  z-index: 10000;
  color: white;
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
}