<div class="Homebody">
  <div class="about">
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="./assets/images/home/logo.png" class="image">
      </div>
      <div class="col-sm-6">
        <div class="home-content">
          <p class="c1">Welcome to Abacus!</p>
          <p class="c2">A national level technical symposium</p>
          <p class="c6">March 5,6 and 7</p>
          <p class="c3">20+ events</p>
          <p class="c4">4+ workshops</p>
          <p class="c5">internships</p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-bottom" id="contact-bar">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/abacus-ceg-53211612a/?originalSubdomain=in" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://facebook.com/abacus.cse" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/csea_abacus/" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/abacus_ceg/" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
    <a routerLink="/about-us" class="corner">About Us</a>
</div>